---
layout: page
title: 
date: "05-01-2015 14:00"
author: ewerton
comments: false
published: true
---


{% for post in site.posts %}
  {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
  {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
    {% if month != nmonth %}
      {% if forloop.index != 1 %}</ul>{% endif %}
      <h5>{{ post.date | date: '%B %Y' }}</h5><ul>
    {% endif %}
  <li><span class="time">{{ post.date | date: "%d/%m/%Y" }}</span>		<a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
